
a:-webkit-any-link {
  color: hsl(271, 68%, 32%);//-webkit-link;
  @media(prefers-color-scheme: dark) {
    color: hsl(271, 68%, 68%);//-webkit-link;
  }
}

:root {
    /* Typography */
    --very_bright: 1;
    --very_dark: 0.3;
    --terciary_color: yellow;
    --raw_white: 255, 255, 255;
    --raw_black: 0, 0, 0;
    --white: rgb(var(--raw_white));
    --black: rgb(var(--raw_black));

    --primary_raw_color: var(--raw_black);
    --secondary_raw_color: var(--raw_white);
    --primary_green: 20, 122, 0;
    --secondary_green: 20, 133, 0;
    --primary_brightness: var(--very_bright);
    --secondary_brightness: var(--very_dark);
    @media(prefers-color-scheme: dark) {
      --primary_raw_color: var(--raw_white);
      --secondary_raw_color: var(--raw_black);
      --primary_green: 20, 133, 0;
      --secondary_green: 20, 122, 0;
      --primary_brightness: var(--very_dark);
      --secondary_brightness: var(--very_bright);
    }

    --primary_color: rgb(var(--primary_raw_color));
    --secondary_color: rgb(var(--secondary_raw_color));
    --primary_to_green: rgb(var(--primary_green), 0.99);
    --secondary_to_green: rgb(var(--primary_green), 0.99);
    --primary_from_green: rgb(var(--primary_green), 0.4);
    --secondary_from_green: rgb(var(--primary_green), 0.4);
    --secondary_translucent_shadow: rgb(var(--primary_raw_color), 0.95);
    --shadow_opacity: 0.9;
    --primary_shadow: rgb(var(--secondary_raw_color), var(--shadow_opacity));
    --secondary_shadow: rgb(var(--primary_raw_color), var(--shadow_opacity));
    --unit: 16;
    --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
    --font-micro-line-height: calc(12 / 10); /* 12px */
    --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
    --font-small-line-height: calc(21 / 14); /* 21px */
    --font-base-size: 1em; /* 16px */
    --font-base-line-height: calc(24 / var(--unit)); /* 24px */
    --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
    --font-large-line-height: calc(27 / 18); /* 27px */
  
    --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
    --font-title3-line-height: calc(30 / 21); /* 30px */
    --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
    --font-title2-line-height: calc(33 / 24); /* 33px */
    --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
    --font-title1-line-height: calc(57 / 49); /* 57px */
  
    /* Widths */
    --width-x-small: 20em;
    --width-small: 40em;
    --width-medium: 60em;
    --width-large: 80em;
    --width-x-large: 100em;
  }
  