@import "shared.module";

@keyframes glow {
  from {
    -webkit-filter: make_omnipresent_shadow2(2px, 3px, var(--primary_from_green))
  }
  to {
    -webkit-filter: make_omnipresent_shadow2(2px, 3px, var(--primary_to_green))
  }
}

$glow_config: glow 3s ease-in-out infinite alternate;
$glow_transition: transform 25ms ease-in-out;

@mixin glow_animation{
  -webkit-animation: $glow_config;
  -moz-animation: $glow_config;
  animation: $glow_config;
  transition: $glow_transition;
}