@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #147a00, 0 0 40px #147a00, 0 0 50px #147a00, 0 0 60px #147a00, 0 0 70px #147a00;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #147a00, 0 0 8px #147a00, 0 0 10px #147a00, 0 0 12px #147a00, 0 0 14px #147a00;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #22cc00, 0 0 40px #22cc00, 0 0 50px #22cc00, 0 0 60px #22cc00, 0 0 70px #22cc00, 0 0 80px #22cc00;
      box-shadow: 0 0 4px #fff, 0 0 6px #22cc00, 0 0 8px #22cc00, 0 0 10px #22cc00, 0 0 12px #22cc00, 0 0 14px #22cc00, 0 0 16px #22cc00;
    }
  }